
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/misc.xml
.idea/modules.xml
.idea/thomascazottes2.iml
.idea/vcs.xml
.idea/php.xml
.idea/thomascazottes2.iml
composer.json
composer.lock
symfony.lock
