{% block body %}
    <!-- Footer -->
    <footer class="text-white">
        <!-- Footer Links -->
        <div class="container">
            <!-- Footer links -->
            <div class="pb-3 d-flex flex-column justify-content-center">
                <!-- Grid column -->
                <div id="contactid" class="" style="">
                    <h5 class="text-uppercase">Thomas Cazottes</h5>
                    <div class="d-flex justify-content-center justify-content-around">
                        <!-- Content -->
                        <a href="" style="">Showreal</a>
                        <a href="" style="">Projet</a>
                        <a href="" style="">Contact</a>
                        <a href="" style="">Photographies</a>
                    </div>
                </div>
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">
                <!-- Grid column -->
                <div class="">
                    <h5 class="text-uppercase">Contact</h5>
                    <div class="d-flex justify-content-center justify-content-around" style="border: 0px solid red">
                        <!-- Content -->
                        <a href="">Paris, 75012</a>
                        <a class="none-style-link "
                           href="mailto:thomascazottes@gmail.com?subject=Contact site web ">thomascazottes@gmail.com</a>
                        <a class="none-style-link " href="tel:+33686158613">06 86 15 86 13</a>
                        <a class="none-style-link " href="https://www.instagram.com/thomas_czt/">@thomasczt</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Footer links -->
            <hr style="border-top: 1px solid white">
            <!-- Grid row -->
            <div class="d-flex justify-content-center">
                <!-- Grid column -->
                <div id="copyright">
                    <!--Copyright-->
                    <div class="text-center">© 2020 Copyright:
                        <a href=""><strong>Jean Lagniaux</strong></a>
                        &
                        <a href=""><strong>Axel Dahirel</strong></a>
                    </div>
                </div>

            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
{% endblock %}