{% block body %}
    <!-- Footer -->
    <footer class="text-white pb-4">
        <!-- Footer Links -->
        <div class="container">
            <!-- Footer links -->
            <div class="d-flex flex-column">
                <!-- Grid column -->
                <div id="contactid" class="mb-1" style="min-height: 10vh; border-bottom: 0px solid red ">
                    <h5 class="text-uppercase" style="font-size: 2rem; margin-bottom: 0px !important;">Thomas Cazottes</h5>
                    <div class="d-flex flex-md-row flex-column justify-content-around my-3 pt-0 pt-sm-2 flex-wrap"
                         style="border: 0px solid blue">
                        <!-- Content -->
                        <a class="list-unstyled text-uppercase mx-2" href=""
                           style="font-size: 1.5rem; font-weight: lighter">Showreal</a>
                        <a class="list-unstyled text-uppercase mx-2" href="/#anchor"
                           style="font-size: 1.5rem; font-weight: lighter">Projet</a>
                        <a class="list-unstyled text-uppercase mx-2" href="/#contactid"
                           style="font-size: 1.5rem; font-weight: lighter">Contact</a>
                        <a class="list-unstyled text-uppercase mx-2" href="/photographies"
                           style="font-size: 1.5rem; font-weight: lighter">Photographies</a>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="" style="min-height: 10vh; border: 0px solid green">
                    <h5 class="text-uppercase" style="font-size: 2rem; margin-bottom: 0px !important;">Contact</h5>
                    <div class="d-flex flex-md-row flex-column justify-content-around my-3 pt-2 flex-wrap"
                         style="border: 0px solid mediumvioletred">
                        <!-- Content -->
                        <a href="" class="list-unstyled text-uppercase mx-2" style="font-size: 1.5rem; font-weight: lighter">Paris</a>
                        <a class="list-unstyled mx-2"
                           href="mailto:thomascazottes@gmail.com?subject=Contact site web"
                           style="font-size: 1.5rem; font-weight: lighter">thomascazottes@gmail.com</a>
                        <a class="list-unstyled mx-2" href="tel:+33686158613"
                           style="font-size: 1.5rem; font-weight: lighter; white-space:nowrap;">06 86 15 86 13</a>
                        <a class="list-unstyled mx-2" href="https://www.instagram.com/thomas_czt/"
                           style="font-size: 1.5rem; font-weight: lighter">@thomasczt</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Footer links -->
            <hr style="border-top: 1px solid white">
            <!-- Grid row -->
            <div class="d-flex justify-content-center" id="copyright">
                <!--Copyright-->
                <div style="font-size: 1.3rem">© 2020 Copyright :
                    <a href="" target="_blank" class="list-unstyled"><strong>Jean Lagniaux</strong></a>
                    &
                    <a href="https://axeldahirel.fr/" target="_blank" class="list-unstyled"><strong>Axel
                            Dahirel</strong></a>
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
{% endblock %}