{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small footer-background"> 
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-footer">
    <a class="text-footer" > Created by </a>
      <a class="text-footer text-link" href="#"> Axel Dahirel</a>
    <a class="text-footer" > & </a>
      <a class="text-footer text-link" href="#"> Jean Lagniaux</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<style>
    .footer-background {
        background-color: #343a40;
      }
      
      .text-footer {
        color: white;
        text-decoration: none;
        font-weight: 200;
      }
      
      .text-link:hover {
        color: #007bff;
        text-decoration: none;
      }
      
</style>
{% endblock %}
