{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/gallery.css') }}">
{% endblock %}
{% block body %}
<h1>Galerie</h1>
<div class="wrapper">
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
    <div class="cube">
        <img src="https://picsum.photos/300/300" alt="photo">
        <div class="description">
            <div>
                <b>Caméra :</b> Canon EDS 550D
            </div>
            <div>
                <b>Projet :</b> Côte d'ivoire
            </div>
            <div>
                <b>Réalisateur :</b> Thomas Cazottes & Jean Lagniaux
            </div>
        </div>
    </div>
</div>
  
<!-- BACK ANCHOR -->
<p style="text-align: center;"><a  id="return" href="/">Retour</a></pstyle="text-align: center;">

{% endblock %}