{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/gallery.css') }}">
{% endblock %}
{% block body %}
<h1>Photographies</h1>
<div>
    <div class="wrapper" style="font-size: 13px;">
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        1
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        6
                    </div>
                    <div>
                        <b>→</b> 6A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        2
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        7
                    </div>
                    <div>
                        <b>→</b> 7A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        3
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        8
                    </div>
                    <div>
                        <b>→</b> 9A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        4
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        9
                    </div>
                    <div>
                        <b>→</b> 9A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        5
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        10
                    </div>
                    <div>
                        <b>→</b> 10A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        6
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        11
                    </div>
                    <div>
                        <b>→</b> 11A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        2
                    </div>
                    <div>
                        <b>PARIS 2018</b> T-MAX 400
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        7
                    </div>
                    <div>
                        <b>→</b> 7A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        3
                    </div>
                    <div>
                        <b>PICARDIE 2018</b> GOLD 200
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        8
                    </div>
                    <div>
                        <b>→</b> 9A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        4
                    </div>
                    <div>
                        <b>PICARDIE 2018</b> GOLD 200
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        9
                    </div>
                    <div>
                        <b>→</b> 9A
                    </div>
                </div>
            </div>
        </div>
        <div class="cube" style="margin-top: 15px;">
            {# Picture #}
            <img src="https://picsum.photos/260/180" alt="photo">
            {# Description #}
            <div class="description">
                <div class="description-top">
                    <div style="margin-left: 60px">
                        5
                    </div>
                    <div>
                        <b>PARIS 2018</b> FUJICOLOR 200
                    </div>
                </div>
                <div class="description-bottom">
                    <div style="margin-left: 40px">
                        10
                    </div>
                    <div>
                        <b>→</b> 10A
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BACK ANCHOR -->
<p style="text-align: center;"><a  id="return" href="/">Retour</a></pstyle="text-align: center;">
{% endblock %}