{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="assets/css/background.css">
    <header class="v-header container">
        <div class="fullscreen-video-wrap">
            <!-- Video link -->
            <video src="okok.mp4" autoplay="true" loop="true" muted></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content text-md-center">
            <!-- Primary title -->
            <h1>Thomas Cazottes</h1>
            <!-- Secondary title -->
            <p>Directeur de la photographie - Chef opérateur</p>
            <a href="#ancre">
                <!-- Learn more button -->
                <button type="button" class="btn btn-dark btn-lg">En savoir plus</button>
            </a>
        </div>
    </header>
    <div>
        <br><br><br><br><br>
        <p>ok</p>
    </div>
{% endblock %}
