{% block body %}
    <!-- Articles container -->
    <div class="" id="anchor">
        <div class="article">
            <!-- Article background -->
            <div class="image-article">
                <img class="image-src" src="{{ asset('articleImportant.png') }}" alt="Image de l'article">
            </div>
            <!-- Article description -->
            <div class="text-article">
                <!-- Article title -->
                <h1 class="title-article text-white">
                    L'important c'est d'aimer
                </h1>
                <!-- Article button -->
                <div class="button-article-container">
                    <a class="button-article" href="/limportantcestdaimer">Regardez</a>
                </div>
            </div>
        </div>
        <div class="article">
            <!-- Article background -->
            <div class="image-article">
                <img class="image-src" src="{{ asset('coteivoire.png') }}" alt="Image de l'article">
            </div>
            <!-- Article description -->
            <div class="text-article">
                <!-- Article title -->
                <h1 class="title-article te">
                    Côte d'Ivoire
                </h1>
                <!-- Article button -->
                <div class="button-article-container text-black">
                    <a class="button-article-b" style="border: black; text-decoration: none"
                       href="/cotedivoire">Regardez</a>
                </div>
            </div>
        </div>
        <div class="article">
            <!-- Article background -->
            <div class="image-article">
                <img class="image-src" src="{{ asset('SITE-NY-COUV-NATIF--(1-of-1).jpg') }}" alt="Image de l'article">
            </div>
            <!-- Article description -->
            <div class="text-article">
                <!-- Article title -->
                <h1 class="title-article text-white">
                    New York
                </h1>
                <!-- Article button -->
                <div class="button-article-container text-black">
                    <a class="button-article" style="border: black; text-decoration: none"
                       href="/cotedivoire">Regardez</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}