{% block body %}
    <!-- Articles container -->
    <div class="" id="anchor">
        <div class="article">
            <!-- Article background -->
            <div class="image-article" id="myBox">
                <img class="image-src" src="{{ asset('couverture/SITE-IMPORTANTCAIMER-FOTGRAM-COUV.jpg') }}" alt="Image de l'article">
            </div>
            <!-- Article description -->
            <div class="text-article">
                <!-- Article title -->
                <h1 class="title-article text-white">
                    L'important c'est d'aimer
                </h1>
                <!-- Article button -->
                <div class="button-article-container">
                    <a id="goArticle" class="button-article" href="/limportantcestdaimer">Regardez</a>
                </div>
            </div>
        </div>
        <div class="article">
            <!-- Article background -->
            <div class="image-article" id="myBox2">
                <img class="image-src" src="{{ asset('couverture/coteivoire.png') }}" alt="Image de l'article">
            </div>
            <!-- Article description -->
            <div class="text-article">
                <!-- Article title -->
                <h1 class="title-article te">
                    Côte d'Ivoire
                </h1>
                <!-- Article button -->
                <div class="button-article-container text-black">
                    <a id="goArticle2" class="button-article-b" style="border: black; text-decoration: none"
                       href="/cotedivoire">Regardez</a>
                </div>
            </div>
        </div>
        <div class="article">
            <!-- Article background -->
            <div class="image-article" id="myBox3">
                <img class="image-src" src="{{ asset('couverture/SITE-NY-COUV-NATIF--(1-of-1).jpg') }}" alt="Image de l'article">
            </div>
            <!-- Article description -->
            <div class="text-article">
                <!-- Article title -->
                <h1 class="title-article text-white">
                    New York
                </h1>
                <!-- Article button -->
                <div class="button-article-container text-black">
                    <a id="goArticle3" class="button-article" style="border: black; text-decoration: none"
                       href="/newyork">Regardez</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById('myBox').addEventListener('click', function () {
            var link = document.getElementById("goArticle").getAttribute("href");
            location.href = link;
        }, false);
        document.getElementById("myBox").style.cursor = "pointer";
        document.getElementById('myBox2').addEventListener('click', function () {
            var link = document.getElementById("goArticle2").getAttribute("href");
            location.href = link;
        }, false);
        document.getElementById("myBox2").style.cursor = "pointer";
        document.getElementById('myBox3').addEventListener('click', function () {
            var link = document.getElementById("goArticle3").getAttribute("href");
            location.href = link;
        }, false);
        document.getElementById("myBox3").style.cursor = "pointer";
    </script>

{% endblock %}


