{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/show.css') }}">
 {% endblock %}
{% block body %}

    <div class="container-article">
        <div class="article">
            <div class="contenue">
                <img src="{{ asset('imgfond.jpg') }}">
            </div>
        </div>
        <div class="article">
            <div class="contenue">
                <img src="{{ asset('imgfond.jpg') }}">
            </div>
        </div>
    </div>

{% endblock %}