 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/show.css') }}">
 {% endblock %}
{% block body %}
    <div class="container-article">
        <div class="article">
            <div class="image-article">
                <img src="https://via.placeholder.com/1400x600" alt="">
            </div>
            <div class="text-article">
                <p>
                    ok habitant de bagdad
                </p>
            </div>
        </div>

    </div>

    <div class="button-article-container text-black">
        <a class="button-article">regardez</a>
    </div>
{% endblock %}