{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/show.css') }}">
 {% endblock %}
{% block body %}

    <div class="container-article">
        <div class="article">
            <div class="contenue">
                <div class="text-article">
                    <div class="title-article">
                        <h1>l'important c'est d'aimer</h1>
                    </div>
                    <div class="info-article">
                        <p>Porjet réaliser par Thomas Cazottes dans le but d'un projet </p>
                    </div>
                </div>
                <div class="article-image">
                    <img src="{{ asset('importantaimer.jpg') }}">
                </div>
            </div>
        </div>
        <div class="article">
            <div class="contenue">
                <img src="{{ asset('imgfond.jpg') }}">
            </div>
        </div>
    </div>

{% endblock %}