body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    text-align: center;
    padding: 30px;
    color: white;
}
.wrapper{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.cube{
   height: 180px;
   width: 260px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 50px;
}
.description{
   display: block;
   width: 260px;
   color: white;
   font-family: sans-serif;
}
.description-top{
   display: flex; 
   justify-content: space-between; 
   padding-top: 15px;
}
.description-bottom{
   display: flex; 
   justify-content: space-between;
}
#return{
   color: white;
   font-size: 30px; 
   text-align: center;
   text-decoration: none;
}