.container-article {

}

.article {

}

.contenue {

}

.text-article {

}

.title-article {

}

.info-article {

}

.article-image-container {
    max-height: 80vh;
    overflow: hidden;
}

.article-image {
    min-width: 100%;
}