{% extends 'base.html.twig' %}
{% block body %}
<img class="test" src="https://picsum.photos/seed/picsum/700/300" alt="photo">
<div class="d-flex">
    <div class="infos p-2">
        <strong>SPRINT</strong><br>
        Thomas Cazottes Jean Lagniaux <br>
        SPRINT Documentaire-Sony professionel France <br>
        2017 : Thomas Cazottes, Jean Lagniaux <br>
        participation de : Stéphane Robert coureur sprinteur handisport <br>
        Documentaire sur le récit engagé et sportife de la vie de stéphane robert handicaper mais surtout sprinteur au Cercle Paul Bert de Rennes<br>
        <b>Détail technique : </b><br>
        Caméra : Nikon D3200 18-55mm et 18-135mm<br>
        Un grand merci à : Stéphane Robert et son entourage, Anne-claire Cazottes, le Cercle Paul Bert de Rennes
        </div>
        <div class="infos p-2">
            <img style="width: 100%; height: 100%;" src="https://picsum.photos/seed/picsum/700/300" alt="photo">
        </div>
</div>

<style>
    .test{
        top:0;
        left:0;
        width:100%;
        height:100vh;
    }
    .infos{
        width: 500px;
    }
</style>
{% endblock %}