{% extends 'base.html.twig' %}
{% block body %}
<img class="image-src test" src="{{ asset('importantaimer.jpg') }}" alt="photo de l'article">
<div class="d-flex">
    <div class="infos p-3" style="height: 400px; overflow-y: scroll;">
        <h1>L’IMPORTANT C’EST D’AIMER</h1><br>
        Thomas Cazottes Jean Lagniaux <br>
        SPRINT Documentaire-Sony professionel France <br>
        2017 : Thomas Cazottes, Jean Lagniaux <br>
        <b>Participation de :</b><br> Stéphane Robert coureur sprinteur handisport. <br>
        Documentaire sur le récit engagé et sportife de la vie de stéphane robert handicapé mais surtout sprinteur au Cercle Paul Bert de Rennes<br>
        <b>Détail technique : </b><br>
        Caméra : Nikon D3200 18-55mm et 18-135mm<br>
        <b>Un grand merci à :</b> <br> Stéphane Robert et son entourage, Anne-claire Cazottes, le Cercle Paul Bert de Rennes.<br><br><br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum minus perferendis, distinctio aspernatur reiciendis 
        voluptas. Voluptatibus mollitia temporibus qui reprehenderit consectetur natus, iure facilis, itaque alias fugit voluptatem eaque ipsam! <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum minus perferendis, distinctio aspernatur reiciendis 
        voluptas. Voluptatibus mollitia temporibus qui reprehenderit consectetur natus, iure facilis, itaque alias fugit voluptatem eaque ipsam!
        </div>
        <div class="infos d-flex">
            <img class="p-2" width="400px" height="300px" src="{{ asset('importantaimer.jpg') }}" alt="photo de l'article">
            <img class="p-2" width="400px" height="300px" src="{{ asset('importantaimer.jpg') }}" alt="photo de l'article">
        </div>
</div>

<style>
    .test{
        top:0;
        left:0;
        width:100%;
        height:100vh;
    }
    .infos{
        color: white;
    }
</style>
{% endblock %}