{% extends 'base.html.twig' %}
{% block body %}
    <!-- FULL SCREEN VIDEO -->
    <iframe src="https://www.youtube.com/embed/crUVeL6DojQ?rel=0&amp;autoplay=0" frameborder="0" allowfullscreen
            style="display: block; background: #000; border: none;height: 90vh;width: 100vw;">Your
        browser doesn't support iframe.
    </iframe>
    <!-- FIRST BLOCK, TEXT + SMALL PICTURES -->
    <div class="d-flex justify-content-around w-100 h-100 flex-wrap mt-3" style="height: %; border: 1px solid blue">
        <!-- TEXT BLOCK -->
        <div class="d-flex flex-column justify-content-center align-self-center text-center text-lg-left " style="color: white; border: 1px solid green">
            <h2 class="text-center">NEW YORK</h2>
            <h3 class="text-center">Pierre William Glenn </h3><br>
            <p style="font-size: 1.25rem"><b>Dirigé par : </b>Pierre-William Glenn et Alexandre Marquand.</p>
            <p style="font-size: 1.25rem"><b>Directeur photographie : </b>Thomas Cazottes</p>
            <p style="font-size: 1.25rem"><b>Cadreurs : </b>Emile Tornior, Pierre Bonnafé</p>
            <p style="font-size: 1.25rem"><b>Assist Caméra : </b>Gaspard Soboul, Pierre Frink</p>
            <p style="font-size: 1.25rem"><b>Eletriciens : </b>Gaétan Berteaux, Nina Chiron</p>
            <p style="font-size: 1.25rem"><b>Caméra A : </b>Varicam LT ISO 800 V-log optique : CineAlta 50mm-85mm</p>
            <p style="font-size: 1.25rem"><b>Caméra B : </b>Eva 1 ISO 800 V-log optique SIGMA HIGHT SPEED ZOOM 18-35mm</p>
            <p style="font-size: 1.25rem"><b>Machinerie : </b>Panthers S3 dolly</p>
        </div>
        <!-- SMALL PICTURES -->
        <div class="d-lg-flex flex-column justify-content-center align-items-center d-none" style="display: none; border: 1px solid red">
            <img class="mb-3" width="700px" height="467px"
                 src="{{ asset('limportantcestdaimer/SITE-IMPORTANTCAIMER-FOTGRAM-NATIF-(1-of-8).jpg') }}"
                 alt="Photo de Ludivine Colle">
            <img class="" width="700px" height="467px"
                 src="{{ asset('limportantcestdaimer/SITE-IMPORTANTCAIMER-FOTGRAM-NATIF-(3-of-8).jpg') }}"
                 alt="Photo de Michael Sisowath">
        </div>
    </div>

    {% include "main/gallery.html.twig" %}

{% endblock %}