{% extends 'base.html.twig' %}
{% block body %}
    <!-- FULL SCREEN VIDEO -->
    <iframe src="https://www.youtube-nocookie.com/embed/53apRe8iqw8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            style="display: block; background: #000; border: none;height: 90vh;width: 100vw;">Your
        browser doesn't support iframe.
    </iframe>


    <!-- FIRST BLOCK, TEXT + SMALL PICTURES -->
    <div class="d-flex justify-content-around w-100 h-100 flex-wrap mt-3">
        <!-- TEXT BLOCK -->
        <div class="d-flex flex-column flex-wrap justify-content-center align-self-center text-center text-lg-left "
             style="color: white;  max-width: 55vw;">
            <h2 class="text-center" style="font-size: 2rem">NEW YAAAAAAAAAAAAAAA</h2>
            <h3 style="font-size: 1.8rem">Projet :</h3><br>
            <p style="font-size: 1.25rem"><b>Titrage : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>Production : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>Direction : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>Réalisation : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>Directeur photographie : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>Acting : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>équipe : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>description : </b>Lorem ipsum dolor sit amet</p>
            <p style="font-size: 1.25rem"><b>Caméra A : </b>Varicam LT ISO 800 V-log optique : CineAlta 50mm-85mm</p>
            <p style="font-size: 1.25rem"><b>Caméra B : </b>Eva 1 ISO 800 V-log optique SIGMA HIGHT SPEED ZOOM 18-35mms
            </p>
            <p style="font-size: 1.25rem"><b>Machinerie : </b>fog machine de bz</p>
        </div>
        <!-- SMALL PICTURES -->
        <div class="d-lg-flex flex-column justify-content-center align-items-center d-none"
             style="display: none; max-width: 40vw; overflow: hidden">
            <img class="mb-3" width="750px" height="396px"
                 src="{{ asset('nyclip/SITE-NY-PHOTOGRAM-NATIF-(1-of-17).jpg') }}"
                 alt="Photo de Ludivine Colle">
            <img class="" width="750px" height="396px"
                 src="{{ asset('nyclip/SITE-NY-PHOTOGRAM-MIGNA-(8-of-17).jpg') }}"
                 alt="Photo de Michael Sisowath">
        </div>
    </div>

    {% include "main/gallery.html.twig" %}

{% endblock %}